@media screen and (max-width: 700px) {
    bento-page.mobile-paged {
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
    }
    bento-group.mobile-paged {
        scroll-snap-align: center;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        overflow-x: scroll;
        height: max(200px, calc(80vh - 40px));
        align-items: stretch;
        padding-inline: 20px 0;
    }
    bento-group.right.mobile-paged {
        padding-inline: 0 20px;
    }
    bento-group.mobile-paged > * {
        --width: min(400px, calc(100vw - 70px)) !important;
        flex: 0 0 var(--width);
        scroll-snap-align: start;
        scroll-margin: 20px;
        overflow: hidden auto;
    }
    bento-group.mobile-paged.right > * {
        scroll-snap-align: end;
    }
    bento-group.mobile-paged::after {
        content: "";
        flex: 0 0 max(40px, calc(100vw - 430px));
    }

    bento-group.mobile-scroll {
        overflow-x: scroll;
        padding-inline: 10px 0;
    }
    bento-group.right.mobile-scroll {
        padding-inline: 0px 10px;
    }
    bento-group.mobile-scroll::after {
        content: "";
        display: block;
        flex: 0 0 10px;
        width: 10px;
        height: 1px;
        margin-inline: -10px 0;
        background: #00000001;
    }
    bento-group.right.mobile-scroll::after {
        margin-inline: 0px -10px;
    }

    bento-box.clear {
        border-block: 4px solid white;
        padding: 10px 0 10px 20px;
    }
    bento-box.item-shelf {
        max-width: none;
    }
    .item-shelf > .items {
        flex-wrap: nowrap;
        min-width: var(--actual-width);
    }

    .mobile-snap-end {
        scroll-snap-align: end;
    }
    .mobile-snap-start {
        scroll-snap-align: start;
    }
    .desktop-only {
        display: none;
    }

    .widget-box {
        min-height: none;
    }
    .widget-text {
        font-size: 16px;
    }
    #widget-controls > button {
        min-height: 1.5em;
    }

    .fc2-counter img {
        height: 40px;
        image-rendering: pixelated;
    }
    .fc2-counter nobr {
        margin-bottom: 10px;
    }
    .increment-badge {
        height: 62px;
    }
    .increment-badge iframe {
        height: 31px;
        transform-origin: center top;
        transform: scale(200%);
    }

    .timekeeper-widget {
        gap: 0.6rem;
    }
    .binary-clock > * {
        width: 12px;
        height: 12px;
    }

}
@media screen and (min-width: 701px) {
    .mobile-only {
        display: none;
    }
}