

.anim-shake {
    animation: 0.1s shake linear infinite !important;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

text-effect {
    --duration: 3s;
    --distance: 2.71828s;
}
text-effect e-word {
    white-space: nowrap;
}
text-effect e-space::before {
    content: " ";
}
text-effect e-char {
    display: inline-block;
}

text-effect.wavy {
    --intensity: .1em;
}
text-effect.wavy e-char {
    animation: var(--duration) ease-in-out calc(var(--distance) * var(--index) * -1) infinite alternate text-wavy;
}
@keyframes text-wavy {
    from {
        transform: translateY(var(--intensity));
    } to {
        transform: translateY(calc(var(--intensity) * -1));
    }
}

text-effect.rainbow {
    --intensity: .1em;
}
text-effect.rainbow e-char {
    animation: var(--duration) ease-in-out calc(var(--distance) * var(--index) * -1) infinite alternate text-rainbow;
}
@keyframes text-rainbow {
    0% {
        color: #f99;
    } 16.667% {
        color: #ff0;
    } 33.333% {
        color: #5f5;
    } 50% {
        color: #3ff;
    } 66.667% {
        color: #bbf;
    } 83.333% {
        color: #f8f;
    } 100% {
        color: #f99;
    }
}

text-effect.h1 {
    --intensity: .1em;
}
text-effect.h1 e-char {
    animation: 
        var(--duration) ease-in-out calc(var(--distance) * var(--index) * -1) infinite alternate text-wavy,
        3s ease-in-out calc(-.2s * var(--index)) infinite text-rainbow;
}