body {
    background: #001;
    color: #eef;

    font-family: Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    margin: 0px;
    padding: 0px;
    height: 100vh;

    overflow: hidden;
}

body > div, .app > div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: min(480px, calc(100% - 5rem));
    height: min(max-content, calc(100% - 5rem));
    padding: 1.5rem;

    background: linear-gradient(#123, #112);
    border: 1px solid #eef4;
    box-shadow: 0 0 0 1px #0007;
    border-radius: 5px;

    transition: 5s;
    user-select: none;

    transform: scale(1, 1);
    overflow-x: visible;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #246, #235);
    border-radius: 2px;
    border: 1px solid #0004;
    box-shadow: inset 0 0 0 1px #eef4;
}

.fadebg {
    transform: scale(0.8, 0.8); filter: blur(5px); opacity: 0.8;
    pointer-events: none;
}

.intro {
    transform: scale(0.5, 0.5); filter: blur(20px); opacity: 0;
}

#flavor {
    font-size: 0.75rem;
    opacity: .5;
}

.topic {
    background: linear-gradient(#246, #235);
    color: #eef;
    font-family: Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
    border: 1px solid #eef4;
    box-shadow: 0 0 0 1px #0007;
    border-radius: 5px;
    outline: none;
    width: calc(100% - 2em);
    margin: 1em -1em 0 -1em;
    padding: 1em;
    text-decoration: none;
}
.topic:hover {
    background: linear-gradient(#368, #357);
}
.topic:active {
    background: linear-gradient(#235, #124);
    box-shadow: 0 0 0 1px #0007, inset 0 0 30px #0007;
    color: #eefa;
}

.topicWindow {
    transition: .5s;
    transform: scale(0.8, 0.8); filter: blur(5px); opacity: 0;
    pointer-events: none;
}
.topicWindow.open {
    transform: scale(1, 1); filter: blur(0px); opacity: 1;
    pointer-events: auto;
}

.titlebar {
    position: sticky;
    top: -1.5rem;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
    margin: -1.5rem -1.5rem 0 -1.5rem;
    padding: .5rem .5rem .5rem 0;
    border: 1px solid #eef4;
    border-top: none;
    background: linear-gradient(#2467, #2354);
    box-shadow: 0 0 0 1px #0007;

    border-radius: 0 0 .5rem .5rem;
}

.app {
    background: linear-gradient(#222, #111);
    color: #eef;
    position: relative;
    font-family: Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
    border: 1px solid #eef4;
    box-shadow: 0 0 0 1px #0007;
    border-radius: 5px;
    outline: none;
    width: calc(100% - 2em);
    height: 3em;
    min-height: 3em;
    margin: 1em -1em 0 -1em;
    padding: 1em;
    text-decoration: none;

}
.app:hover {
    background: linear-gradient(#333, #222);
}
.app:active {
    background: linear-gradient(#111, #000);
    box-shadow: 0 0 0 1px #0007, inset 0 0 30px #0007;
    color: #eefa;
}
.app > div {
    position: absolute;
    padding: 1em;
    transition: transform 0.2s, filter 0.2s;
    pointer-events: none;
}
.app:hover > div:first-child {
    transform: scale(0.9, 0.9); filter: blur(2px); opacity: 0;
}
.app > div:last-child {
    transform: scale(0.9, 0.9); filter: blur(2px); opacity: 0;
}
.app:hover > div:last-child {
    transform: scale(1, 1); filter: blur(0px); opacity: 1;
}

.back {
    background: linear-gradient(#624, #523);
    color: #fee;
    font-family: Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
    border: 1px solid #fee4;
    box-shadow: 0 0 0 1px #0004;
    border-radius: 0 5px 5px 0;
    outline: none;
    text-decoration: none;
    margin-left: -1px;
}
.back:hover {
    background: linear-gradient(#836, #735);
}
.back:active {
    background: linear-gradient(#523, #412);
    box-shadow: 0 0 0 1px #0007, inset 0 0 10px #0007;
    color: #feea;
}



