:root {
    --background-0: black;

    --color-0: white;

    --main-font: "Host Grotesk", "Helvetica", "FreeSans", "Arial", sans-serif;

    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
    box-sizing: border-box;
}

html {
    background: var(--background-0);
    color: var(--color-0);
    font-family: var(--main-font);

    font-size: 1.1em;
}

a {
    color: #abf;
    text-decoration: underline dashed;
}


.touch-only {
    display: none;
}

@media (hover: none) {
    .touch-only {
        display: unset;
    }
}