

.live-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5.5em, 1fr));
    grid-auto-flow: row dense;
    margin: -4px;
    padding: 0;
}
.live-tiles>* {
    --row: 1;
    --col: 1;
    display: block;
    grid-row: span var(--row);
    grid-column: span var(--col);
    aspect-ratio: calc(var(--col) / var(--row));
    padding: 4px;
}
.live-tiles>*> :first-child {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background: black;
    color: white;
    text-decoration: none;
}


.link-tile > * {
    position: relative;
  }
.link-tile > * > h3,
.links > .link-tile > * > span {
    position: absolute;
    left: .4em;
    bottom: .3em;
    margin: 0;
    font-size: 0.75em;
    font-weight: normal;
    text-align: start;
    line-height: 1.2;
}
.link-tile > * > span + span {
    position: absolute;
    right: .6em;
    top: .6em;
    font-size: 0.75em;
    line-height: 1.2;
}
.link-tile > * > .status-cafe {
    position: absolute;
    font-size: 0.75em;
    left: .4em;
    right: .4em;
    top: .4em;
    bottom: 1.5em;
    text-align: start;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link-tile > * > .status-cafe-face {
    position: absolute;
    font-family: "Noto Emoji", sans-serif;
    right: -0.1em;
    top: -0.06em;
    font-size: 3.5em;
    opacity: 0.3;
}
.link-tile > :hover > .status-cafe-face {
    opacity: 0.4;
}
.link-tile > * .stat-online-bubble {
    display: inline-block;
    font-size: 0;
    width: .55rem;
    height: .55rem;
    background: lime;
    border-radius: 50%;
    vertical-align: .55rem;
}
.link-tile > * .stat-total-bubble {
    display: inline-block;
    font-size: 0;
    width: .55rem;
    height: .55rem;
    background: #0007;
    border-radius: 50%;
    vertical-align: .55rem;
    box-shadow: inset 0 0 0 .125rem #fff7;
}
.link-tile > * .stat-watch-bubble {
    display: inline-block;
    font-size: 0;
    width: .55rem;
    height: .55rem;
    background: #f77;
    border-radius: 50%;
    vertical-align: .55rem;
}
.link-tile > * > svg {
    position: absolute;
    right: 0;
    top: 0;
    height: 80%;
    width: auto;
    opacity: 0.3;
}
.link-tile > :hover > svg {
    opacity: 0.4;
}

.project-list {
    display: flex;
    flex-direction: column;
    margin: -4px;
    padding: 0;
    list-style: none;
}
.project-list>* {
    padding: 4px;
}
.project-list>*> :first-child {
    display: block;
    width: 100%;
    min-height: 6em;
    border: 4px solid white;
    background: black;
    color: white;
}


.category-box .box {
    background: black;
    color: white;
    border: 2px solid white;
    padding: 1em;
}

@media (min-width: 70em) {
    .category-box .box.big {
        padding: 2em;
    }
}
:is(h1, h2, h3, p) {
    margin: 0;
}

:is(h1, h2, h3):not(:first-child) {
    margin-top: 1rem;
}

p:not(:first-child) {
    margin-top: .5rem;
}